<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      <div>
        <i class="fa fa-pencil"></i>
      </div>
      <h3 class="font-weight-bold mt-2 mb-2">ESCUELA DE PÁDEL</h3>
      <p>Contamos con un amplio equipo de monitores para que perfecciones tu juego independientemente del nivel que poseas.</p>
    </div>
    <div class="col-4 text-center">
      <div>
        <i class="fa fa-calendar"></i>
      </div>
      <h3 class="font-weight-bold mt-2 mb-2">EVENTOS EMPRESA</h3>
      <p>En el Club Padel Nuestro organizamos torneos y campeonatos para empresas, y diferentes tipos de eventos. ¡Infórmate! </p>
    </div>
    <div class="col-4 text-center">
      <div>
        <i class="fa fa-wheelchair"></i>
      </div>
      <h3 class="font-weight-bold mt-2 mb-2">PADEL ADAPTADO</h3>
      <p>La integración social es uno de nuestros grandes objetivos y ofrecemos clases de pádel adaptado para todos los públicos. </p>
    </div>
  </div>
</div>
