<div class="container">
  <div class="jumbotron">
    <img id="logoUPMJumbotron" src="../../assets/img/logoUPM.png">
    <h2 class="texto_jumbotron">Pádel U.P.M.</h2>
    <p class="texto_jumbotron">El club universitario más dinámico del circuito</p>
  </div>
  <div class="row">
    <div class="col-4">
      <h5 class="titulo_col text-center">Clases</h5>
      <p text-justify>En el Club de Pádel UPM ofrecemos diferentes opciones de clases de pádel para todos los niveles. Si quieres aprender a jugar al pádel en un entorno único y con los mejores profesionales, este es tu sitio. Además, estamos a tan solo 5 minutos de Moncloa. ¡Contacta con nosotros para saber más!</p>
      <img class="img_col" src="../../assets/img/clases.jpg">
    </div>
    <div class="col-4">
      <h5 class="titulo_col text-center">Entrenamientos personalizados</h5>
      <p class="text-justify">El monitor de pádel estará disponible para ofrecerte una enseñanza totalmente personalizada, adaptándose al horario que te venga bien. Si buscas una progresión continua e intensa, ¡está es tu mejor opción!</p>
    </div>
    <div class="col-4">
      <h5 class="titulo_col text-center">Eventos</h5>
      <p class="text-justify">Aprovecha las magníficas instalaciones del Club para organizar torneos y eventos. Disponemos de un área en la que poder organizar en las mejores condiciones, desde un torneo de empresa, una convención o clinic deportivo.</p>
      <img class="img_col" src="../../assets/img/eventos.jpg">
    </div>
  </div>
</div>
